<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>HOME</title>
   <style>
       h1 {
           text-align: center;
           font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
           font-size: 3em;
       }
   </style>
</head>
<body>
   <h1>HOME PAGE</h1>
   <p>Olá, {{ nome }}.</p>
   <p>Este é um exemplo de site criado com o framework Starlette</p>
</body>
</html>